/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5.6rem;
  /*===== colors =====*/
  --first-color: #6aa479;
  --first-color-alt: #5f916b;
  --second-color: #ed8f23;
  --first-gradient:linear-gradient(90deg,#4b915c 0%,
  #c0dec5 100%);
  --second-gradient:linear-gradient(90deg,
  #74be81 0%,
  #94d19e 100%);
  --third-gradient:linear-gradient(90deg,#55aa6a 0%,
  #dde9df 100%);
  --title-color: #1f1f1f;
  --text-color: #808080;
  --white-color: #fff;
  --body-color: #f5f5f5;
  --container-color: #ffffff;
  /*===== font and typography =====*/
  --body-font: 'Montserrat', sans-serif;
  --second-font:  'Work Sans', sans-serif;
  --default-font-size: 62.5%; /*10px*/
  --bigger-font-size: 4.4rem;
  --big-font-size: 3rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  /* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
  /*========== font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
   /*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --bigger-font-size: 6.2rem;
    --big-font-size: 5.2rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --normal-font-size: 1.8rem;
    --small-font-size: 1.6rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--default-font-size);
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
} 

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
  max-width: 112rem;
  margin-inline: 2.4rem;
}

.grid {
  display: grid;
  gap: 2.4rem
}

.grid--2-cols, 
.grid--4-cols {
  grid-template-columns: 1fr;
}

.section {
  padding-block: 8rem 1.6rem;
}

.section__title {
  font-size: var(--big-font-size);
  margin-bottom: 2.4rem;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, .2)
  0 1px 3px 0;
  font-weight: var(--font-medium);
  padding: .8rem 1.6rem;
}

/*========== HEADER & NAV ==========*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--text-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
}

.nav__logo span {
  background: var(--third-gradient);
  color: var(--white-color);
  border-radius: 50%;
}

.nav__toggle,
.nav__close {
  display: flex;
  cursor: pointer;
}

.nav__toggle {
  font-size: 2.4rem;
}

/* navigation for mobile devices */
/* 768px */
@media screen and (max-width: 48rem) {
  .nav__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    padding-block: 4.8rem;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, .1);
    background-color: var(--body-color);
    z-index: 100;
    transition: all .6s ease-in;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3.2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
  font-size: 2.4rem;
  color: var(--text-color);
}

.show__menu {
  top: 0;
}

/*=============== HOME ===============*/
.home {
  position: relative;
  padding-block: 4.8rem 1.6rem;
}

.home__container {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-image: url(/images/home.png);
  background-size: cover;
  background-position: center;
  align-content: center;
  justify-content: center;
}

.home__content {
  text-align: center;
}

.home__title {
  font-size: var(--bigger-font-size);
  font-weight: var(--font-semi-bold);
  color: #152118;
  margin-bottom: .8rem;
  text-transform: uppercase;
}

.home__subtitle {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 2.4rem;
}

.home__btns {
  display: flex;
  justify-content: center;
  column-gap: 1.6rem;
}

.home__btn {
  background-color: var(--second-color);
  color: var(--white-color);
}

.home__btn:hover {
  background-color: #d58120;
}

.home__btn-link {
  border: 1px solid var(--first-color-alt);
  color: var(--first-color-alt);
}

.home__btn-link:hover {
  background-color: var(--first-color-alt);
  color: var(--white-color);
}

/*=============== TRENDING ===============*/
.trending__content,
.popular__content {
  padding-block: 2.4rem 8rem;
  justify-items: center;
}

.book__card {
  /* max-width: 35rem; */
  position: relative;
  padding: 3.2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
  border-radius: 1.6rem;
}

.book__img {
  border-radius: 1.6rem;
  margin-bottom: 1.2rem;
}

.book__title {
  font-size: var(--normal-font-size);
  margin-bottom: .4rem;
}

.book__author {
  display: block;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  margin-bottom: 1.6rem;
}

.book__price {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  background-color: rgb(255, 255, 255, 0.22);
  border-radius: 0.25rem;
  padding: 0.4rem 0.8rem;
}

.book__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1.6rem 0.8rem;
}

.book__btn:hover {
  background-color: var(--first-color-alt);
}

/*=============== CTA ===============*/
.cta {
  background-color: #dde9df;
  border-radius: 1.6rem;
  padding-block: 0 6.4rem;

  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
}

.cta__title {
  font-size: var(--big-font-size);
  margin-bottom: 2.4rem;
}

.cta__title,
.cta__description {
  color: var(--title-color);
  text-align: center;
}

.cta__description {
  line-height: 1.5;
  margin-bottom: 3.2em;
}

.cta__input-box {
  padding: .8rem;
  border-radius: 0.25rem;
}

.cta__input {
  width: 100%;
  padding: .8rem 1.6rem;
  font-size: var(--normal-font-size);
}

.cta__btn {
  background-color: var(--first-color);
  text-align: center;
  color: var(--white-color);
}

/* .cta__btn {
  padding: .4rem .8rem;
  font-size: var(--small-font-size);
} */


/* 
- font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

---- 07 WHITE-SPACE
- spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */
